.body-bg {
    background-image:
        url(/public/assets/rpsgif1.gif);
    background-size: 100%;
    background-color: transparent;
}

.card:hover {
    background-color: bisque;
}

.card {
    width: 20rem;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.846);
    border: 0px;
    color: rgb(70, 66, 42);
}

.card p {
    color: rgb(70, 66, 42);

}

.card img {
    width: 200px;
    border-radius: 20px;
}

.game-h1 {
    color: antiquewhite;
}

.game-p {
    color: antiquewhite;
}



.weapon-icon {
    width: 75px;
    height: 75px;
}

.chosen-weapon-img {
    width: 60px;
    height: 60px;
}

.choose-weapon form {
    max-width: 200px;
    max-height: 200px;
}



.weapon-icon:hover {
    box-shadow:
        1px 1px 2px rgb(153, 153, 255),
        0 0 25px rgb(249, 221, 184),
        0 0 5px rgb(204, 184, 67);

}

.weapon-row:hover {
    width: 100%;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
}

footer p {
    color: antiquewhite;
}

body p {
    color: antiquewhite;
}



weapons {
    width: 300px;
}